*{
  box-sizing: border-box;
}


.spin-loader{
  pointer-events: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100px;
}

.search-ctn{
  max-width: 1200px;
  padding: 0 40px;
  margin: auto;

  input{
    font-family: "Source Sans Pro", sans-serif;
    margin: 20px auto;
    display: block;
    height: 40px;
    width: 100%;
    max-width: 400px;
    background-color: #eee;
    border: 1px solid #a4a4a4;
    border-radius: 20px;
    padding-left: 10px;
    font-size: 1em;
    outline: none;

    &:focus{
      box-shadow: 5px 4px 12px 1px #d6d6d6;
    }
  }
}

.books-ctn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 40px;

  .single-book{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 4px 12px 1px #d6d6d6;
    display: flex;
    margin-bottom: 30px;
    transition: all .3s ease;

    .image-ctn{
      background-color: #cecbd0;
      border-radius: 20px 0 0 20px;
      padding: 30px;
      position: relative;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image-ctn::after {
      content: "";
      background: white;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;   
      border-radius: 20px 0 0 20px;
    }

    .image-ctn img{
      width: 150px;
      box-shadow: 9px 7px 9px 1px #757575;
      position: relative;
      z-index: 2;
      
    }

    .text-ctn{
      padding: 15px 15px 15px 25px;
      
      h2{
        font-family: 'Bree Serif', serif;
        font-size: 2em;
        margin-top: 10px;
      }

      p{
        color: #989898;
      }

      .stabilo{
        background-color: yellow;
      }

      .price{
        font-family: 'Bree Serif', serif;
        font-size: 1.7em;
        margin-bottom: 20px;
      }

      button{
        font-family: 'Source Sans Pro', sans-serif;
        background: rgb(222,1,1);
        background: linear-gradient(90deg, #224d80 0%, #3e82ca 100%);
        box-shadow: 5px 4px 12px 1px #d6d6d6;
        border: none;
        color: white;
        padding: 10px 30px;
        border-radius: 20px;
        text-transform: uppercase;
        margin-right: 10px;
        font-weight: bold;
        cursor: pointer;
      }

      .cart-counter{
        display: flex;

        .plus{
          padding: 10px;
          border-radius: 20px 0 0 20px;
        }
        .minus{
          padding: 10px;
          border-radius: 0 20px 20px 0;
        }
      }
    }
  }
}

/*** MOBILE ***/

@media screen and (max-width: 650px) {
  .single-book{
    flex-direction: column;
  }
}