*{
  box-sizing: border-box;
}


.spin-loader{
  pointer-events: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100px;
}

.books-ctn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;

  .single-book{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 4px 12px 1px #d6d6d6;
    display: flex;
    margin-bottom: 30px;

    .image-ctn{
      background-color: #cecbd0;
      border-radius: 20px 0 0 20px;
      padding: 30px;
      position: relative;
      background-size: cover;
    }

    .image-ctn::after {
      content: "";
      background: white;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;   
      border-radius: 20px 0 0 20px;
    }

    .image-ctn img{
      width: 150px;
      box-shadow: 9px 7px 9px 1px #757575;
      position: relative;
      z-index: 2;
      
    }

    .text-ctn{
      padding: 15px 15px 15px 25px;
      
      h2{
        font-family: 'Bree Serif', serif;
        font-size: 2em;
        margin-top: 10px;
      }

      button{
        font-family: 'Source Sans Pro', sans-serif;
        background: rgb(222,1,1);
        background: linear-gradient(90deg, rgba(222,1,1,1) 0%, rgba(213,72,2,1) 100%);
        box-shadow: 5px 4px 12px 1px #d6d6d6;
        border: none;
        color: white;
        padding: 10px 30px;
        border-radius: 8px;
        text-transform: uppercase;
        margin-right: 10px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
